#########################
#    JELLYFISH  CORE    #
#      Coded by...      #
#  trainordevelopments  #
#########################

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "none"
sets tags "default, deployer, jfcore, jf-core, jellyfish-core, jellyfishcore, jellyfish"

## You MAY edit the following:
sv_licenseKey ""
sv_hostname "Server built with Jellyfish Core by trainordevelopments!"
sets sv_projectName "[Jellyfish Core]"
sets sv_projectDesc "An advanced open-source FiveM RP framework."
sets locale "en-US" 
load_server_icon myLogo.png
set mysql_connection_string "mysql://root@localhost/jfcore?charset=utf8mb4"

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# QBCore & Extra stuff
ensure [jf]
ensure [standalone]
ensure [voice]
ensure breze_benefactor
ensure hospital_map

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
